textarea {
    background-color: #ffac00;
}
#alertButton {
    background-color: rgb(147, 0, 0);
    font-family: monospace;
    color: mintcream;
}
#confirmButton {
    background-color: rgb(0, 128, 0);
    font-family: monospace;
    color: mintcream;
}
body {
    background-color: navajowhite;
}
h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h4 {
    padding: 0px;
    margin: 0px;
}