body {
  background-color: chocolate;
}

textarea {
  background-color: aquamarine;
}

#spnOutput {
  background-color:burlywood;
  border: solid 2px black;
}

.red {
  color: red;
}

.black {
  color: black;
}