body {
  background-color: chocolate;
  font-size: 20pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

textarea {
  background-color: aquamarine;
}

#divOutput {
  background-color:burlywood;
  border: solid 1px black;
}

.red {
  color: red;
}

.black {
  color: black;
}
