// tictactoe css

.bigBdr {
  font-size: 24pt;
  font-family: Arial;
  font-weight: bold;
  border-collapse: collapse;
}
.bigBdr td {
  border: solid black 2px;
  width: 2em;
  text-align: center;
}
.ticTacToe {
  font-size: 48pt;
  font-family: Arial;
  font-weight: bold;
  border-collapse: collapse;
}
.ticTacToe td {
  width: 2em;
  text-align: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
#c1 {
  border-right: solid black 4px;
  border-bottom: solid black 4px;
}
#c2 {
  border-left: solid black 4px;
  border-right: solid black 4px;
  border-bottom: solid black 4px;
}
#c3 {
  border-left: solid black 4px;
  border-bottom: solid black 4px;
}    
#c4 {
  border-top: solid black 4px;
  border-right: solid black 4px;
  border-bottom: solid black 4px;
}
#c5 {
  border: solid black 4px;
}  
#c6 {
  border-top: solid black 4px;
  border-left: solid black 4px;
  border-bottom: solid black 4px;
}   
#c7 {
  border-top: solid black 4px;
  border-right: solid black 4px;
}   
#c8 {
  border-top: solid black 4px;
  border-left: solid black 4px;
  border-right: solid black 4px;
}    
#c9 {
  border-top: solid black 4px;
  border-left: solid black 4px;
}   