/* Universal resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Arial;
  font-weight: 100;
  font-size: 13pt;
  background-image: url("img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;

}